<head>
  <meta charset="UTF-8">
  <title>Easy Poker</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>


</head>
<div class="container">

  <div class="row">
    <ul>
      {{#each league }}
      <li>{{name}} , {{description}} , {{createdAt}}</li>
      {{/each}}
    </ul>
  </div>
</div>
