<head>
  <meta charset="UTF-8">
  <title>Easy Poker</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<br>
<div class="container">
  <br>
  <div class="row">
    <div class="table-responsive">
      <table style="border-color: #1c0603" class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          {{#each league }}
          <tr>
            <td>{{name}}</td>
            <td>{{description}} </td>
            <td>{{createdAt}}</td>
          </tr>
          {{/each}}
    </div>