form.signup,
form.login {
  margin-top: 50px;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.table {
  border: 1px solid aquamarine;
}

#table-train, .table, .table-striped .table-sm
 {
  border: 1px solid aquamarine;
  text-align: center;
  margin: 1%;
}

#form-train {
  border: 1px solid aquamarine;
  text-align: center;
  padding: 50px;
}

.form-group {
  text-align: left;
  margin: 1%;
}

.form-control {
  text-align: left;
}

.label-train {
  box-align: left;
  font-size: 14px;
}

#add-train {
  border: 1px solid aquamarine;
  text-align: center;
  background-color: aquamarine;
}

/*css for testMain*/
body {
  font-size: .875rem;
  background-color: #f1ded3;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0 !important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  background-color: #cd9774;
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #ae301f;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

 .navbar {
  background-color: #f1ded3 !important;
 }

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  background-color: #cd9774;

}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1) !important;
  border-color: rgba(255, 255, 255, .1) !important;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

#mainpg-btn:hover {
  background-color: #1c0603 !important;
  color: #f1ded3 !important;
}

/* table */

table.table-striped > thead > tr > th{
  border:1px solid #1c0603;
}
table.table-striped > tbody > tr > td{
  border:1px solid #1c0603;
}